{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~": "./src",
          "test": "./test"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        ["@babel/preset-env", { "targets": { "chrome": 61 } }]
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        ["@babel/preset-env", { "targets": { "node": "8.5" } }]
      ]
    },
    "production": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "modules": false,
            "browsers": ["last 2 versions", "ie >= 11"]
          }
        ]
      ]
    }
  }
}
